<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{header}}</h4>
</div>

<form #editForm="ngForm" autocomplete="off" (ngSubmit)="editForm.valid && close(data)">

  <div class="modal-body">

    <div class="form-group" *ngIf="type == 'Order Progress'">
      <label>Order Status Type :</label>
      <select name="fK_OrderStatus_Id" class="form-control" [(ngModel)]="data.fK_OrderStatus_Id"
        [required]="type == 'Order Progress'">
        <option [value]="undefined">-- Select Status --</option>
        <option *ngFor="let state of states" [value]="state.id">{{state?.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Name :</label>
      <span class="asterisk_input"> </span>
      <input class="form-control" placeholder="{{header}}" name="name" [(ngModel)]="data.name" required>
      <!--</div>-->
      <!--</div>-->
      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.name.invalid" severity="error"
          text="Value is required to be saved!"></p-message>
      </div>
      <!--</div>-->
    </div>

    <div class="form-group col-md-6" *ngIf="type == 'Order Types'">
      <label>Type text color :</label>
      <span class="asterisk_input"> </span>
      <p-colorPicker [(ngModel)]="data.textColor" name="textColor"></p-colorPicker>
    </div>

    <div class="form-group col-md-6" *ngIf="type == 'Order Types'">
      <label>Type background color :</label>
      <span class="asterisk_input"> </span>
      <p-colorPicker [(ngModel)]="data.bgColor" name="bgColor"></p-colorPicker>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn" (click)="activeModal.dismiss()">close</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>