<div class="row">

    <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

    <div class="col-md-12" *ngIf="!toggleLoading">

        <ngx-datatable class="material expandable" [rows]="rows" [columnMode]="'force'" [columns]="[]"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10" [selected]="[]"
         >
            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
            </ngx-datatable-column>

            <ngx-datatable-column [width]='100' prop="name" name="Value"></ngx-datatable-column>

            <ngx-datatable-column [width]='75' prop="id" name="Edit">
                <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

                    <span (click)="edit(row)" *ngIf="row?.isDefault == false">
                        <i class="fa fa-pencil-square-o" pTooltip="Edit this row"></i>
                    </span>

                    <span *ngIf="row?.isDefault == true" pTooltip="Can not edit this row">
                        <i class="fa fa-ban"></i>
                    </span>

                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]='100' prop="id" name="Actions">
                <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

                    <span (click)="remove(row)" *ngIf="row?.isDefault == false" pTooltip="Delete this row">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </span>

                    <span *ngIf="row?.isDefault == true" pTooltip="Can not delete this row">
                        <i class="fa fa-ban"></i>
                    </span>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>

<div class="row" *ngIf="!toggleLoading">
    <div class="col-md-3 col-md-offset-9 add-button">
        <button class="btn btn-dark btn-add" (click)="add()"><i class="fa fa-plus-circle"></i> Add New
        </button>
    </div>
</div>