
<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div class="uk-card uk-card-default"  [hidden]="toggleLoading">

  <app-contract-table (emitAllData)="getCustomerContracts($event)" [page]="page" [contracts]="contracts"></app-contract-table>

</div>
