<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{header}}</h4>
</div>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<form *ngIf="!toggleLoading" autoComplete="off" #editForm="ngForm" autocomplete="off"
  (ngSubmit)="editForm.valid && close(data)">

  <div class="modal-body">

    <div class="form-group col-md-6">
      <label>First Name :</label>
      <span class="asterisk_input"> </span>
      <input type="text" class="form-control" placeholder="First Name..." name="firstName" [(ngModel)]="data.firstName"
        required>
      <p *ngIf="editForm.submitted && editForm.controls?.firstName.invalid">
        <i class="fa fa-exclamation-triangle"></i>This field is required!
      </p>
    </div>

    <div class="form-group col-md-6">
      <label>Middle Name :</label>
      <span class="asterisk_input"> </span>
      <input type="text" class="form-control" placeholder="Middle Name ..." name="middleName"
        [(ngModel)]="data.middleName" required>
      <p *ngIf="editForm.submitted && editForm.controls?.middleName.invalid">
        <i class="fa fa-exclamation-triangle"></i>This field is required!
      </p>
    </div>

    <div class="form-group col-md-6">
      <label>Last Name :</label>
      <span class="asterisk_input"> </span>
      <input type="text" class="form-control" placeholder="Last Name..." name="lastName" [(ngModel)]="data.lastName"
        required>

      <p *ngIf="editForm.submitted && editForm.controls?.lastName.invalid">
        <i class="fa fa-exclamation-triangle"></i>This field is required!
      </p>
    </div>

    <div class="form-group col-md-6">
      <label>Phone :</label>
      <span class="asterisk_input"> </span>
      <input type="text" class="form-control" placeholder="Please type value..." name="phoneNumber" maxlength="8"
        [(ngModel)]="data.phoneNumber" required minlength="8" maxlength="8" pattern="[0-9]*">
      <p *ngIf="editForm.submitted && editForm.controls?.phoneNumber.invalid">
        <i class="fa fa-exclamation-triangle"></i>This field is required and contains 8 numbers!
      </p>

    </div>

    <div class="form-group col-md-6">
      <label>User Name:</label>
      <span class="asterisk_input"> </span>
      <input type="text" class="form-control" placeholder="User Name..." name="userName" [(ngModel)]="data.userName"
        required>
      <p *ngIf="editForm.submitted && editForm.controls?.userName.invalid">
        <i class="fa fa-exclamation-triangle"></i>This field is required!
      </p>
    </div>



    <div class="form-group col-md-6">
      <label>Email :</label>
      <span class="asterisk_input"> </span>
      <input type="email" class="form-control" placeholder="email..." name="email" [(ngModel)]="data.email">
      <!-- <p *ngIf="editForm.submitted && editForm.controls?.email.invalid">
        <i class="fa fa-exclamation-triangle"></i>This
        field is required!
      </p> -->
      <p *ngIf="data.email && !(data.email.match(emailRegex))">
        <i class="fa fa-exclamation-triangle"></i>Email must be valid, like: name@example.com!
      </p>
    </div>

    <div class="form-group  col-md-12" *ngIf="!existedUserFlag">
      <label>Password :</label>
      <span class="asterisk_input"> </span>
      <input type="password" class="form-control" placeholder="Password..." name="password" [(ngModel)]="data.password"
        required>
      <p *ngIf="editForm.submitted && editForm.controls?.password.invalid">
        <i class="fa fa-exclamation-triangle"></i>This
        field is required!
      </p>
      <p *ngIf="data.password && !(data.password?.match(passwordRegex))">
        <i class="fa fa-exclamation-triangle"></i>Password must contact at least 1 special character (@, $, %, ...) and
        1
        letter and 1 number!
      </p>
    </div>


    <div class="form-group col-md-12">
      <label>User Role</label>
      <span class="asterisk_input"> </span>
      <select class="form-control" name="roleNames" [(ngModel)]="data.roleNames" (change)="UserRoleChanged()" required>
        <option [value]="undefined" *ngIf="!data.roleNames?.length">-- Choose User Role --</option>
        <option [value]="role?.name" *ngFor="let role of roles">{{role.name}}</option>
      </select>
      <p *ngIf="editForm.submitted && editForm.controls?.roleNames.invalid">
        <i class="fa fa-exclamation-triangle"></i>This field is required
      </p>
    </div>

    <div class="form-group col-md-12" *ngIf="isTechnician">
      <label>Assign to :</label>
      <select class="form-control" name="dispature" [(ngModel)]="data.selectedDispatureid" required>
        <option [value]="undefined" *ngIf="!selectedDispatureid?.length">-- Choose Dispature --</option>
        <option [value]="disp?.id" *ngFor="let disp of allDispatchers">{{disp.firstName}} {{disp.middleName}}</option>
      </select>
      <em *ngIf="editForm.submitted && editForm.controls?.roleNames.invalid">
        <i class="fa fa-exclamation-triangle"></i>This field is required
      </em>
    </div>


    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <input style="display:none" type="text" name="email" />
    <input style="display:none" type="password" name="password" />


  </div>

  <div class="modal-footer">
    <button class="btn" (click)="activeModal.dismiss()">close</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>