<h3 class="page-title">Customers</h3>

<app-search [hideFromTo]="false" (searchCanceled)="_getCustomersAllCustomers()" [hideDate]="hideDate"
  [hidden]="toggleLoading" [placholder]="'Search by Customer, CID or phone'" (searchValue)="searchByValue($event)">
</app-search>

<p-progressSpinner *ngIf="toggleLoading" class="loading-spinner"></p-progressSpinner>


<div class="container-fluid" *ngIf="!toggleLoading">

  <div *ngIf="!toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">

    <div class="row">
      <div class="col-md-11">
      </div>
      <div class="col-md-1">
        <button class="btn btn-dark export" (click)="exportCsv()" pTooltip="Export">
          <i class="fa fa-download"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" style="padding-left: 40px;padding-right: 40px">
        <ngx-datatable [offset]="page.pageNumber" [limit]="page.pageSize" [externalPaging]="true" (page)='setPage($event)'
          [count]=" totalElements?totalElements:0" class="material expandable" [rows]="filteredCustomers" [columnMode]="'force'"
          [columns]="[]" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" >
          
          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="name" name="Name"></ngx-datatable-column>
          <ngx-datatable-column *ngIf="!roles.includes('Maintenance')" [width]='90' prop="civilId" name="CID">
          </ngx-datatable-column>

          <!--<ngx-datatable-column [width]='120' prop="name" name="Type"></ngx-datatable-column>-->

          <ngx-datatable-column [width]='120' prop="customerPhoneBook" name="Phone">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <span style="margin-left: 2px" *ngFor="let phone of row.customerPhoneBook; let i =index">
                {{phone?.phone}}<span *ngIf="i+1 < row.customerPhoneBook.length">,</span>
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]='400' prop="locations" name="Address">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <div *ngFor="let location of row.locations; let i = index">
                {{location.block}} {{location.street}},{{location.area}},{{location.governorate}} <span
                  *ngIf="i+1 < row.locations">,</span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]='50' prop="id" name="Actions">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <button class="btn btn-dark" [routerLink]="['./customerDetails', {customerId : row.id}]"
                pTooltip="Details">
                <i class="fa fa-info-circle"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>

  </div>

</div>
