<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<h3 class="page-title">Contracts</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading">
  <app-search (searchCanceled)="getAllContracts($event)" [placholder]="'Search by contract number or customer name'"
    (searchValue)="searchContract($event)"></app-search>

  <div class="uk-animation-slide-top-small">
    <app-contract-table (print)="printContracts()" (emitSearchedData)="searchByValue($event)" [page]="page"
      (emitAllData)="getAllContracts($event)" [contracts]="allContracts"></app-contract-table>
  </div>

</div>
