<p-growl [(value)]="cornerMessage" life="5000"></p-growl>

<h3 class="page-title">Calls History</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading" class="container uk-animation-slide-top-small">

  <app-search (searchCanceled)="getAllCalls($event)" [hidden]="toggleLoading" (searchValue)="searchByValue($event)"
              [placholder]="'Search by CID, Caller name, Address or Caller number'"></app-search>

  <div class="uk-card uk-card-default">
    <app-call-table [calls]="calls" (emitSearchedData)="searchByValue($event)" (emitAllData)="getAllCalls($event)" [page]="page"></app-call-table>
  </div>
</div>

