//table {
//  background-color: rgba(250, 250, 250, 0.8);
//  color: black;
//  //width: 70%;
//  margin: 0 auto;
//  tr {
//    transition: 0.5s all;
//    td, th {
//      border: 1px solid grey;
//    }
//    .action-btn-cell {
//      button {
//        //white-space: normal;
//        display: block;
//        //width: 65%;
//        margin: 5px auto;
//      }
//    }
//  }
//  tr:hover {
//    background-color: rgba(250, 250, 250, 1);
//    //cursor: pointer;
//    transition: 0.5s all;
//  }
//  thead {
//    tr:first-child {
//      cursor: default;
//      background-color: lightgrey;
//    }
//  }
//}

//ng-template {
//  top: 25px;
//}
