<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<h3 class="page-title">Quotations</h3>

<div class="container">

  <app-search [hideFromTo]="false" (searchCanceled)="getAllQuotations(0)" [hidden]="toggleLoading"
    [placholder]="'Search by Customer or phone'" (searchValue)="filterQuotations($event)"></app-search>

  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

  <div *ngIf="!toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">

    <!--<div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p-messages *ngIf="roles.includes('CallCenter')" [(value)]="bigMessage"></p-messages>
      </div> 
    </div>-->


    <div class="row">
      <div class="col-md-10">
      </div>
      <div class="col-md-2 uk-text-right">
        <span (click)="exportCsv()" pTooltip="Export">
          <i class="fa fa-download export"></i>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 content">
        <ngx-datatable [offset]="page.pageNumber"
        [limit]="page.pageSize"  [externalPaging]="true"
        (page)='setPage($event)'  [count]="page.totalElements"   class="material expandable" [rows]="quotations" [columnMode]="'force'" [columns]="[]"
          [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true"
          [selectionType]="'false'">
          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="customerName" name="Customer Name"></ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="refNumber" name="Reference No"></ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="estimationRefNumber" name="Reference No">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="customerMobile" name="Customer Mobile"></ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="area" name="Area"></ngx-datatable-column>

          <ngx-datatable-column *ngIf="roles.includes('CallCenter')" [width]='200' prop="id" name="Download">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <a (click)="downloadQuotationWord(row.id)">{{row.refNumber}}</a>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column *ngIf="roles.includes('Maintenance')" [width]='75' prop="id" name="Actions">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <!--<a >{{row.refNumber}}</a>-->
              <span (click)="routeToViewQuotation(row.refNumber)" pTooltip="View">
                <i class="fa fa-eye"></i>
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column *ngIf="!roles.includes('Maintenance') || roles.includes('Callcenter')" [width]='75'
            prop="id" name="Actions">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <span (click)="removeQuotation(row.id)" pTooltip="Remove">
                <i class="fa fa-trash"></i>
              </span>

              <span class="btn btn-light" (click)="routeToViewQuotation(row.refNumber)" pTooltip="View">
                <i class="fa fa-eye"></i>
              </span>

            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

      </div>
    </div>
  </div>
</div>