.btn-dark {
    background: none;
    color: #242424;
    border: none;
    font-size: 18px;
    width: 25%
}

/* .btn-dark:hover {
    background: none;
    color: black;
    border: none;
} */

.export {
    font-size: 24px;
    color: #242424 !important;
    background: none !important;
    border: none !important;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.btn-light {
    background: none !important;
    border: none !important;
    color: #242424 !important;
    width: 25%
}

.content {
    padding-left: 32px;
    padding-right: 32px;
}

.uk-card {
    padding-top: 5px !important;
}

.fa {
    font-size: 18px;
    color: #242424;
    cursor: pointer;
}

