<div>
  <h4 class="head">{{header}}</h4>
</div>
<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<form *ngIf="!toggleLoading" autoComplete="off" #editForm="ngForm" autocomplete="off"
  (ngSubmit)="editForm.valid? saveUserPassword():void(0);">

  <div class="modal-body">

    <div class="form-group">
      <label>New Password :</label>
      <input type="password" class="form-control" placeholder="Minimum eight characters, at least one letter, one number and one special character" name="newPassword"
        [(ngModel)]="model.password" required [pattern]="passwordPattern">
      <span *ngIf="editForm.submitted && editForm.controls?.newPassword.invalid" style="color: red">
        <i class="fa fa-exclamation-triangle"></i>
        Minimum eight characters, at least one letter, one number and one special character
      </span>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn" (click)="activeModal.dismiss()">close</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>