.btn-light, p {
    background: none;
    border: none;
    color: #242424;
}

i {
    font-size: 18px;
}

.btn-light:hover {
    background: none;
    border: none;
    color: #242424;
}

.btn {
    width: 32px;
}