<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>

<section [hidden]="toggleLoading">
  <form [formGroup]="form">
    <div class="row">
      <div class="image-upload text-center">
        <label for="file-input">
          <img [src]="imageSrc" />
        </label>
        <input id="file-input" type="file" name="imageUrl" type="file" accept="image/*" (change)="onChangeFile($event)"
          formControlName="image" />
        <h4>*Click on image to change it</h4>
      </div>

      <div class="row">
          <div class="form-group col-md-6">
              <label for="comment">About us url:</label>
              <input type="url" class="form-control" formControlName="aboutus">
              <app-field-error-display [displayError]="isFieldValid('aboutus')" errorMsg="field is required">
              </app-field-error-display>
            </div>
      
            <div class="form-group col-md-6">
              <label for="comment">Title:</label>
              <input type="text" class="form-control" formControlName="title">
              <app-field-error-display [displayError]="isFieldValid('title')" errorMsg="field is required">
              </app-field-error-display>
            </div>
      </div>
    </div>

    <div class="row">
      <button type="submit" class="btn btn-primary pull-right" (click)="updateSettings()">Submit</button>
    </div>
  </form>
</section>

