
<div class="footer-bottom">
    <div class="container">
        <div class="row">
    		<div class="col-md-12 widget">
        Copyright 2019 © Amanah Teknologia. All rights reserved.
            </div>
        </div>
    </div>
</div>
