a {
    cursor: pointer !important;
}

.order-r {
    padding-top: 10px
}

.table-content {
    padding: 40px !important;
}

.more {
    font-size: 24px;
    color: #242424;
}

.more:hover {
    text-decoration: none;
}

.crop {
    max-width: 20em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-100 {
    text-align: left !important;
    width: 100%;
    border: 1px solid rgb(82, 82, 82);
}

.w-25 {
    width: 15%;
    font-weight: 500;
}

.w-75 {
    width: 85%;
}

td{
    text-align: left;
}

.cell{
    font-weight: 500;
}