
<div class="modal-header">
  <h4 class="modal-title" > Order Status </h4>
</div>

<div class="modal-body">

  <form #order="ngForm" autocomplete="off" (ngSubmit)="order.valid && submitOrder(order.value)">

    <fieldset [disabled]="disabled">
      <table class="table table-bordered">
          <colgroup>
            <col style="width:25%">
            <col style="width:75%">
          </colgroup> 
          
        <tbody>
          <tr>
            <td class="title">Code</td>
            <td>{{data?.code}}</td>
          </tr>
          <tr>
            <td class="title">Status</td>
            <td>{{data?.orderStatus?.name}}</td>
          </tr>
          <tr>
            <td class="title">Technician Name</td>
            <td> {{data.technicanName==undefined?'unassigned':data.technicanName}}</td>
          </tr>
          <tr>
            <td class="title">Dispatcher Name</td>
            <td>{{data.dispatcherName==undefined?'unassigned':data.dispatcherName}}</td>
          </tr>
        </tbody>
      </table>

    </fieldset>

    <div class="row">
      <div  class="col-md-3 pull-right">
        <button (click)="closeModal()" class="btn btn-default" style="width:100%">Close</button>
      </div>


    </div>
  </form>

</div>


