<p-growl [(value)]="msg" [life]="5000"></p-growl>

<div class="estimation-container">

  <h3 class="page-title">Create New Estimation</h3>

  <div class="container uk-animation-slide-top-small">
    <h4>
      Caller Name: {{caller?.callerName}}
    </h4>

    <app-search *ngIf="!toggleLoading" [placholder]="'Please, Type material/service code...'"
                (searchValue)="requestCode($event)"></app-search>

    <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

    <div class="uk-card uk-card-default" *ngIf="!toggleLoading">
      <div class="col-md-offset-1">
        <h4 class="sub-title">Items/Services</h4>
      </div>
      <app-estimation-table (deletedId)="deleteItem($event)" [items]="items" [editMode]="true" [callId]="callId"
                            [type]="'estimation'"></app-estimation-table>
    </div>
  </div>

</div>


