<div class="row">
  <div class="col-md-6" *ngIf="condition" [ngClass]="layoutClass">
    <label style="display: block">{{startDateLable || 'Start from Date'}}:</label>
    <p-calendar name="startDate" (onSelect)="emitStartDate()" [(ngModel)]="date.startDate" [showIcon]="true"
      [style]="{'width':'100%'}" [inputStyle]="{'height':'45px','width':'200px'}"></p-calendar>
    <em style="display: block" *ngIf="submitted && !date.startDate && required"><i
        class="fa fa-exclamation-triangle"></i>This field is required</em>
  </div>

  <div class="col-md-6" *ngIf="condition" [ngClass]="layoutClass">
    <label style="display: block">{{endDateLable || 'End at Date'}}:</label>
    <p-calendar name="endDate" (onSelect)="emitEndDate()" [(ngModel)]="date.endDate" [showIcon]="true"
      [style]="{'width':'100%'}" [inputStyle]="{'height':'45px','width':'200px'}"></p-calendar>
    <em style="display: block" *ngIf="submitted && !date.endDate && required"><i
        class="fa fa-exclamation-triangle"></i>This field is required</em>
  </div>
</div>