.customers-content {
    margin-top: 5em;
    margin-bottom: 2.5em;
}


.btn-dark {
    background: none;
    color: #242424;
    border: none;
    font-size: 18px;
    width: 25%
}

.btn-dark:hover {
    background: none;
    color: black;
    border: none;
}

.export {
    font-size: 24px;
    color: #242424 !important;
    width: 50%;
    background: none !important;
    border: none !important;
}

.content {
    padding: 35px;
}