@import "../../../assets/stylesheets/color-theme";
//@import "compass";

.assign-tec-container {
  h4 {
    button {
      border-color: $mainColor;
      color: scale_color($mainColor, $lightness: 25%);
      border-radius: 15px;
      font-weight: normal;
      text-transform: capitalize;
      float: right;
      padding: 3px 15px;
      transition: 0.5s all;
      &:hover {
        transition: 0.5s all;
        background-color: $mainColor;
        color: white;
      }
    }
    span {
      color: $secondaryColor;
    }
  }
  .tec-container {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 200px;
    border: 1px solid lightgray;
    em {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    p {
      display: inline-block;
      margin: 5px;
      font-size: 1em;
      text-transform: capitalize;
      cursor: grab;
      color: white;
      border-radius: 15px;
      background-color: scale_color($mainColor, $lightness: 25%);
      padding: 4px 10px;
      transition: 0.5s all;
      &:hover {
        transition: 0.5s all;
        background-color: scale_color($mainColor, $lightness: 0%);
      }
      i:first-child {
        color: scale_color($mainColor, $lightness: 25%);
      }
      i:nth-child(2) {
        transition: 0.5s all;
        margin-left: 15px;
        color: scale_color($mainColor, $lightness: 80%);
        &:hover {
          transition: 0.5s all;
          color: scale_color($mainColor, $lightness: 100%);
        }
      }
    }
  }
  .dispatcher-title {
    margin-top: 35px;
  }
  .dispatchers-container {
    overflow: scroll;
    overflow-y: hidden;
    //overflow-y: hidden;
    width: 100%;
    border: 1px solid lightgray;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    .uk-card {
      cursor: pointer;
      //display: inline;
      margin: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      transition: 0.5s all;
      border: 1px solid lightgray;
      &:hover {
        transition: 0.5s all;
        border: 1px solid $mainColor;
      }
      p {
        display: none;
      }
      h4 {
        text-transform: capitalize;
        text-align: center;
        min-width: 150px;
      }
    }
  }
}
