<div class="uk-modal-header">
  <h3>Assign Orders to Dispatcher/Technician</h3>
</div>

<div class="uk-modal-body">
  <div class="form-group">
    <label>Transfer to (Dispatcher/Technician)</label>
    <select class="form-control" (change)="selectTargetType()" [(ngModel)]="type">
      <option [value]="undefined" *ngIf="!type">--Select Transfer to target type--</option>
      <option [value]="'dispatcher'">Dispatcher</option>
      <option [value]="'technician'">Technician</option>
    </select>
  </div>

  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

  <form #assignTergetForm="ngForm" [hidden]="!type || toggleLoading"
    (ngSubmit)="assignTergetForm.valid && assign(assignTergetForm.value)">

    <div class="form-group">
      <label>Select transfer target</label>
      <select name="selectedTarget" [(ngModel)]="selectedTarget" class="form-control">
        <option [value]="undefined">-- Select Assign Target --</option>
        <option *ngFor="let target of targets" [value]="target.id">{{target.userName}}</option>
      </select>
    </div>

    <div class="row">
      <div class="col-md-4">
        <button type="button" (click)="close()" class="btn btn-light">Close</button>
      </div>
      <div class="col-md-8">
        <button type="submit" class="btn btn-dark" [disabled]="clicked">Assign</button>
      </div>
    </div>
  </form>
</div>

<div class="uk-modal-footer">

</div>