<div class="order-card uk-card uk-card-default"
  [ngStyle]="{'background-color':checkText(order)?order.orderType.bgColor:'white','color':checkBG(order)?order.orderType.textColor:'black'}">

  <label class="clickable">
    <h4 class="order-number">
      <input [id]="order.id" *ngIf="bulkAssignMode" (change)="selectOrder()" type="checkbox">#{{order?.code}}
    </h4>
  </label>

  <h4 *ngIf="order.customer != undefined" class="name">name: {{order?.customer?.name}}</h4>

  <h4 *ngIf="order.customer != undefined">Area: {{order?.location?.area}}</h4>

  <h4 *ngIf="order.customer == undefined" class="name">name: {{order?.call?.callerName}}</h4>

  <h4 *ngIf="order.customer == undefined">Area: {{order?.area}}</h4>

  <h4>Priority: {{order?.orderPriority?.name}}</h4>
  <!--<h4>priority</h4>-->

  <div *ngIf="currentDetailedOrderId == order?.id" class="hidden-details uk-animation-slide-top-small">
    <h4>status: {{order?.orderStatus?.name}}</h4>
    <!--<h4>status</h4>-->
    <h4>type: {{order?.orderType?.name}}</h4>
    <!--<h4>type</h4>-->
    <h4>Start: {{order?.startDateView}}</h4>
    <h4>End :{{order?.endDateView}}</h4>
    <h4 *ngIf="order?.note">note: {{order?.note}}</h4>
  </div>

  <button (click)="setCurrentDetailedOrderId(null)" *ngIf="currentDetailedOrderId == order?.id" class="more-button">
    <i class="fa fa-minus"></i> less details
  </button>

  <button (click)="setCurrentDetailedOrderId(order.id)" *ngIf="currentDetailedOrderId != order?.id" class="more-button">
    <i class="fa fa-plus"></i> more details
  </button>

  <div class="button-group">
    <button class="btn-light" (click)="openEditOrderModal(order)" pTooltip="Edit Order" tooltipPosition="top">
      <i class="fa fa-pencil-square-o"></i>
    </button>

    <button class="btn-light" pTooltip="Set Visit time" tooltipPosition="top" (click)="openSetTimeModal(order)">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
    </button>

    <button class="btn-light" (click)="openTransfer(order)" pTooltip="Transfer Order" tooltipPosition="top">
      <i class="fa fa-exchange" aria-hidden="true"></i>
    </button>
    <!--<button class="btn-light" (click)="openOrderProgressModal(order)" pTooltip="Order progress" tooltipPosition="top"><i
      class="fa fa-tasks"
      aria-hidden="true"></i>
    </button>-->
  </div>

</div>
