<div class="row">
  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

  <div class="row" *ngIf="! toggleLoading">
    <div class="col-md-10">
    </div>
    <div class="col-md-2 uk-text-right">
      <button class="btn btn-dark export" (click)="exportCsv()" pTooltip="Export">
        <i class="fa fa-download"></i>
      </button>
    </div>
  </div>

  <div class="col-md-12" *ngIf="!toggleLoading">

    <form>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="searchString" placeholder="Type to filter by name or phone ..."
            [(ngModel)]="searchString" (ngModelChange)="filter()" />
          <div class="input-group-addon" (click)="reset()" style="cursor: pointer">
            Reset
          </div>
        </div>
      </div>
    </form>

    <ngx-datatable class="material expandable uk-animation-slide-top-small" [rows]="users" [columnMode]="'force'"
      [columns]="[]" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="15"
      [selected]="[]">

      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>

      <!--<ngx-datatable-column [width]='50' prop="id" name="ID"></ngx-datatable-column>-->

      <ngx-datatable-column [width]="150" prop="name" name="Name"></ngx-datatable-column>

      <ngx-datatable-column [width]="75" prop="phoneNumber" name="Phone"></ngx-datatable-column>

      <ngx-datatable-column [width]="100" prop="userName" name="User Name"></ngx-datatable-column>

      <ngx-datatable-column [width]="100" prop="email" name="Email"></ngx-datatable-column>

      <ngx-datatable-column [width]="75" prop="id" name="Actions">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <button class="icon" (click)="edit(row)" pTooltip="Edit" class="custom">
            <i class="fa fa-pencil-square-o"></i>
          </button>

          <button class="icon" (click)="changeUserPassword(row)" pTooltip="change password" class="custom">
            <i class="fa fa-key"></i>
          </button>

          <button *ngIf="row.isLocked" class="icon" (click)="lockUnlock(row,'Lock')" pTooltip="Lock" class="custom">
            <i class="fa fa-unlock" aria-hidden="true"></i>
          </button>

          <button *ngIf="!row.isLocked" class="icon" (click)="lockUnlock(row,'Un lock')" pTooltip="Un Lock" class="custom">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </button>


          <button class="icon" (click)="remove(row)" pTooltip="Remove" class="custom">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>

        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<div class="row" *ngIf="!toggleLoading">
  <div class="col-md-3 col-md-offset-11 lbl">
    <a (click)="add()"><i class="fa fa-plus-circle"></i> Add New {{type}}</a>
  </div>
</div>
