.add-button {
  margin-top: 10px;
}

.lbl {
  padding-top: 35px;
  padding-right: 50px;
}

button.btn.btn-add {
  width: 100%;
}

.btn-dark {
  background: none;
  color: #242424;
  border: none;
  font-size: 18px;
  width: 25%
}

.btn-dark:hover {
  background: none;
  color: black;
  border: none;
}

.export {
  font-size: 24px;
  color: #242424 !important;
  width: 50%;
  background: none !important;
  border: none !important;
}

.icon {
  font-size: 18px;
  color: #242422;
  cursor: pointer;
  padding-left: 10px;
}

.custom {
  background: none;
  border: none;
  font-size: 18px;
}