<div class="admin-upload-resources">

  <h5 class="sub-title">Salary excel sheet</h5>
  <div class="salary">

    <p-fileUpload name="excelSheet" accept=".xlsx,.xls" [showUploadButton]="toggleSalaryUploadButtons"
                  [showCancelButton]="toggleSalaryUploadButtons" customUpload="true"
                  (onSelect)="showAtView($event, 'salary')"
                  (uploadHandler)="onUpload($event, 'salary');"
                  maxFileSize="50000000">
      <!--<ng-template let-file pTemplate="file">-->
      <!--<div>Custom UI to display a file</div>-->
      <!--</ng-template>-->
      <ng-template pTemplate type="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
    <p-messages [(value)]="salaryError"></p-messages>

  </div>

  <h5 class="sub-title">Items/Services excel sheet</h5>
  <div class="item">

    <p-fileUpload name="excelSheet" accept=".xlsx,.xls,.csv" [showUploadButton]="toggleItemsUploadButtons"
                  [showCancelButton]="toggleItemsUploadButtons" customUpload="true"
                  (onSelect)="showAtView($event, 'items')"
                  (uploadHandler)="onUpload($event, 'items');"
                  maxFileSize="50000000">
      <!--<ng-template let-file pTemplate="file">-->
      <!--<div>Custom UI to display a file</div>-->
      <!--</ng-template>-->
      <ng-template pTemplate type="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
    <p-messages [(value)]="itemsError"></p-messages>

  </div>

</div>
