.AdminSearch {
  margin: 25px;
}

/*.accordion-header {*/

/*}*/

/*.accordion-header li {*/

/*background-color: rgb(240, 240, 240);*/

/*padding-right: 10px;*/

/*padding-left: 10px;*/

/*padding-bottom: 10px;*/

/*margin-bottom: 5px;*/

/*margin-top: 5px;*/

/*border: 1px solid rgb(240, 240, 240);*/

/*transition: 0.5s all;*/

/*box-sizing: border-box;*/

/*}*/

/*.accordion-header li:hover {*/

/*border: 1px solid #02466b;*/

/*transition: 0.5s all;*/

/*}*/

/*.accordion-header li h4 {*/

/*padding-top: 10px;*/

/*padding-bottom: 10px;*/

/*}*/

.tabs {
  margin-bottom: 20px;
}

.tabs .uk-active {
  color: #02466b !important;
  font-weight: bold;
}

.tabs li a {
  font-size: 1em;
}

li {
  margin: 0px !important;
  margin-bottom: 5px !important;
  cursor: pointer;
}

.uk-tab>.uk-active>a {
  color: #02466b;
  border-bottom: 2px solid #f28a2c;
}

.content {
  padding-left: 35px;
  padding-right: 35px;
}

.sub-title {
  margin-top: 5px !important;
}