

<h3 class="page-title">View Quotation {{quotationDetails?.refNumber}}</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div *ngIf="!toggleLoading" class="container">
  <div class="uk-card uk-card-default">
    <app-customer-details [customerDetails]="customerDetails"></app-customer-details>
  </div>

  <div class="uk-card uk-card-default">
    <app-estimation-table [editMode]="false" [type]="'contract'" [EstimationRefNumber]=""
                          [items]="quotationDetails?.estimation?.lstEstimationItems"></app-estimation-table>
  </div>
</div>
