<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>


<div class="generate-contract-container">

  <h3 class="page-title">Generate Contract</h3>

  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>


  <div *ngIf="!toggleLoading" class="container uk-animation-slide-top-small">

    <div class="uk-card uk-card-default">
      <app-customer-details [customerDetails]="customerDetails"></app-customer-details>
    </div>

    <div class="uk-card uk-card-default">

      <div class="col-md-offset-1">
        <h4 class="sub-title">Contract items/services details</h4>
      </div>
      <app-estimation-table [editMode]="false" [items]="quotationDetails?.estimation.lstEstimationItems"
                            [type]="'contract'"></app-estimation-table>
    </div>

    <div class="uk-card uk-card-default">
      <div class="col-md-offset-1">
        <h4 class="sub-title">Contract Details</h4>
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-10">

          <app-add-contract-form [quotationDetails]="quotationDetails"></app-add-contract-form>

        </div>
      </div>
    </div>


  </div>
</div>
