.color-box {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 0 auto;
  /*border: 1px solid #000;*/
}

.status-keys {
  display: flex;
  justify-content: center;
}

.status-keysport .single-status-key {
  margin: 25px;
}

.cal {
  z-index: 0;
}