<p-growl [(value)]="cornerMessage"></p-growl>

<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading" ></p-progressSpinner>


<div [hidden]="toggleLoading">
  <div class="modal-header">
    <h4 class="modal-title">Edit {{data.dispatcher.firstName}} Areas and Problems</h4>
  </div>
  <form [formGroup]="form">
    <div class="modal-body">

      <div class="form-group halfInput">
        <label>Governments: </label>
        <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose governorate" [options]="governorates"
          optionLabel="name" [dataKey]="id" [panelStyle]="{minWidth:'20em'}" formControlName="governoratesCtrl"
          [(ngModel)]="selectedGovernerates" (onChange)="handleGovernoratesValues($event)">
        </p-multiSelect>

        <app-field-error-display [displayError]="isFieldValid('governoratesCtrl')" errorMsg="field is required">
        </app-field-error-display>

      </div>

      <div class="form-group halfInput">
        <label>Areas: </label>
        <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose area" optionLabel="name" [options]="areas"
           [panelStyle]="{minWidth:'20em'}"  [(ngModel)]="selectedAreas" formControlName="areasCtrl"  (onChange)="handleAreasValues($event)" >
        </p-multiSelect>

        <app-field-error-display [displayError]="isFieldValid('areasCtrl')" errorMsg="field is required">
        </app-field-error-display>
      </div>

      <div class="form-group halfInput">
        <label style="display: block;">Problems: </label>
        <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Problems" [options]="problems" optionLabel="name"
          [panelStyle]="{minWidth:'20em'}" formControlName="problemsCtrl" [(ngModel)]="selectedProblems">
        </p-multiSelect>

        <app-field-error-display [displayError]="isFieldValid('problemsCtrl')" errorMsg="field is required">
        </app-field-error-display>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" (click)="close()" class="btn btn-default">Close</button>
      <button type="submit" class="btn btn-dark" (click)="send()">Save</button>
    </div>

  </form>

</div>
