/* line 1, assign-items.component.scss */

form {
  margin-top: 5px;
}

/* line 3, assign-items.component.scss */

form .tec-dropdown {
  width: 200px;
}

/* line 6, assign-items.component.scss */

form .tec-dropdown~.search-btn {
  margin-top: 25px;
}

/* line 9, assign-items.component.scss */

form .search-btn {
  width: 100px;
}

/* line 15, assign-items.component.scss */

.tabs {
  cursor: pointer;
}

.slct {
  height: 45px;
}

.fa-qrcode {
  font-size: 24px;
  color: #242424;
  cursor: pointer;
}