<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading">

  <div class="row">
    <p-dataTable [rows]="10" #dt [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
      [value]="disWithProbs">
     <p-column header="Name">
        <ng-template  let-row="rowData" pTemplate="body">
          <h4 tooltipPosition="top"pTooltip="{{row?.dispatcher?.userName}}">
            {{row?.dispatcher?.userName}}</h4>
        </ng-template>
      </p-column> 

     <p-column header="Areas">
         <ng-template let-row="rowData" pTemplate="body">
           <h4 tooltipPosition="top"  pTooltip="{{row?.areas}}">
             {{row?.areas | slice:0:5}}...
           </h4>
         </ng-template>
       </p-column>
     
      <p-column header="Proplems">
         <ng-template let-col let-row="rowData" pTemplate="body">
           <h4 tooltipPosition="top"  pTooltip="{{row?.selectedProplemNames}}">
             {{row?.selectedProplemNames | slice:0:5}}...
           </h4>
         </ng-template>
       </p-column>

      <p-column header="Remove">
        <ng-template  let-row="rowData" pTemplate="body">
          <button [hidden]="row?.orderProblem?.name == '-'" class="btn btn-default" (click)="openEditModal(row)">
            <i class="fa fa-edit"></i> Edit
          </button>

          <button [hidden]="row?.orderProblem?.name == '-'" class="btn btn-danger" (click)="remove(row)">
            <i class="fa fa-close"></i> Remove
          </button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>



