.searchPhonepanel {
  background-color: rgba(77, 76, 76, 0.64);
  padding: 0px 35px;
  border-radius: 5px;
}

.searchPhonepanel .searchIcon {
  float: right;
}

.nav-justified>li>a {
  border-radius: 0px;
  color: white;
  border: solid 1px transparent;
  /* border-radius: 69px; */
  margin: 5px;
  cursor: default;
  background-color: rgba(186, 196, 208, 0.58);
}

.loading-spinner {
  top: -60px;
}

.nav-pills>li.active a, .nav-pills>li.active a:hover {
  background-color: rgba(48, 120, 217, 0.99)
}

.nav>li>a:hover {
  background-color: rgba(56, 141, 255, 0.45);
  border: solid 1px transparent;
  /* border-radius: 69px; */
  transition: all;
}

.AddUsericon {
  /*width:48px;*/
  /*height: 48px;*/
  /*top: 15px;*/
  display: inline-block;
  /*background:url(./../../../assets/Images/AddUser.png);*/
  /*transform: scale(0.7);*/
}

.EditPanel {
  /*border: solid 1px rgba(175, 175, 175, 0.59);*/
  border-radius: 5px;
  padding: 15px;
  margin: 5px 10px;
  transition: all 2ms;
}

.title {
  padding-top: 15px;
}

.AlignSup {
  vertical-align: middle;
}

.halfInput input, .halfInput select {
  width: 250px;
  display: inline-block;
}

.halfInput label {
  width: 180px;
}

.centerBtn {
  float: right;
}

.Fullwidth {
  width: 60%;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.NewLink {
  color: rgb(56, 141, 255);
  cursor: pointer;
  text-decoration: underline;
  padding: 5px;
}

.SmallModal {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.modal .halfInput input, .modal .halfInput select {
  width: 200px;
  display: inline-block;
}

.modal .halfInput label {
  width: 130px;
}

.percentageIcon {
  font-size: 20px;
}

.DeleteFactory {
  color: #c82020;
  cursor: pointer;
}

.AddSpace {
  margin: 0px 5px;
  color: rgba(48, 120, 217, 0.99)
}

.currentLocation {
  width: 250px;
  display: inline-block;
  vertical-align: middle;
}

.hr-line {
  color: rgb(11, 105, 212);
  background-color: rgb(11, 105, 212);
  height: 1px;
}

.err {
  color: #c82020;
}

.star {
  color: #c82020;
}

.asterisk_input::after {
  content: " *";
  color: #e32;
  position: absolute;
  font-size: x-large;
}