<div class="container">
  <div>
    <h4 class="sub-title">Preventive Orders</h4>
  </div>

  <!--<div class="row">-->

  <app-search (searchCanceled)="getAllOrders()" [placholder]="'Please, Type Contract code...'"
    [hideFromTo]="false" (searchValue)="filterPreventive($event)"></app-search>

  <p-progressSpinner *ngIf="progress" class="loading-spinner"></p-progressSpinner>

  <div class="row" *ngIf="! progress">
    <ngx-datatable [offset]="page.pageNumber" [limit]="page.pageSize" [externalPaging]="true" (page)='setPage($event)'
      [count]="totalElements" class="material expandable" [rows]="orders" [columnMode]="'force'" [columns]="[]"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [selected]="[]">

      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="contract.contractNumber" name="Contract No."></ngx-datatable-column>
      <ngx-datatable-column [width]='100' prop="contract.startDate" name="Start Date"></ngx-datatable-column>
      <ngx-datatable-column [width]='100' prop="contract.endDate" name="End Date"></ngx-datatable-column>
      <ngx-datatable-column [width]='100' prop="customer.name" name="Customer Name"></ngx-datatable-column>
      <ngx-datatable-column [width]='80' prop="customer.phone" name="Customer Phone"></ngx-datatable-column>
      <ngx-datatable-column [width]='100' prop="location.governorate" name="Governorate"></ngx-datatable-column>
      <ngx-datatable-column [width]='100' prop="location.area" name="Area"></ngx-datatable-column>
      <ngx-datatable-column [width]='35' prop="location.block" name="Block"></ngx-datatable-column>
      <ngx-datatable-column [width]='100' prop="location.street" name="Street"></ngx-datatable-column>
      <ngx-datatable-column [width]='100' prop="orderDate" name="Order Date"></ngx-datatable-column>


      <ngx-datatable-column [width]='100' prop="" name="Actions">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <i class="fa fa-info-circle" pTooltip="Details" (click)="preventiveDetails(row)"></i>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>