.content {
    padding: 15px;
}

.dropdown-menu {
    z-index: 10000;
}

.custom-btn {
    background: none;
    color: rgb(49, 49, 49);
}

.custom-btn:hover {
    background: none;
}

.btn-dark {
    background: none;
    color: #242424;
    border: none;
    font-size: 18px;
    width: 25%
}

.btn-dark:hover {
    background: none;
    color: black;
    border: none;
}

.export {
    font-size: 24px !important;
    color: #242424 !important;
    background: none !important;
    border: none !important;
    padding-right: 20px;
    padding-top: 10px;
}

.content {
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.uk-card {
    padding-top: 5px !important;
}

.fa-file-download {
    color: #242424;
}

a {
    color: #242424;
}

i {
    font-size: 18px;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;
    cursor: pointer;
}

.status {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
    cursor: pointer;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.fil {
    border-radius: 5px;
    border: 1px solid #5f5f5f;
}

.fil-con {
    width: 20%;
    margin: 1em auto;
}