<form #order="ngForm" autocomplete="off" (ngSubmit)="order.valid && submitOrder(order.value)">

  <fieldset [disabled]="disabled">

    <div class="row">
      <div class="form-group col-md-6" *ngIf="! isCashCall">
        <label>Order type :<span class="star">*</span></label>
        <select class="form-control" name="fK_OrderType_Id" [(ngModel)]="newOrder.fK_OrderType_Id" required
                (ngModelChange)="onChange($event)">
          <option [value]="undefined" *ngIf="!newOrder.fK_OrderType_Id">-- Choose Type --</option>
          <option [ngValue]="type.id" *ngFor="let type of orderTypes">{{type.name}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_OrderType_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i>This field is required
        </em>
      </div>

      <div class="form-group col-md-6" *ngIf="!isCashCall">
        <label>Customer Location :<span class="star">*</span></label>
        <select class="form-control" name="fK_Location_Id" [(ngModel)]="newOrder.fK_Location_Id" required>
          <option [value]="undefined" *ngIf="!newOrder.fK_Location_Id">-- Choose Location --</option>
          <option [value]="location?.id" *ngFor="let location of customerLocations">{{location.title}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_Location_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i>This field is required
        </em>
      </div>
    </div>

   

    <div class="row">

      <div class="form-group col-md-6" *ngIf="isCashCall">
        <label>Order type :<span class="star">*</span></label>
        <select class="form-control" name="fK_OrderType_Id" [(ngModel)]="newOrder.fK_OrderType_Id" required
                (ngModelChange)="onChange($event)" disabled>
          <option [ngValue]="undefined" *ngIf="!newOrder.fK_OrderType_Id">-- Choose Type --</option>
          <option [ngValue]="type.id" *ngFor="let type of orderTypeCashCall">{{type.name}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_OrderType_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i>This field is required
        </em>
      </div>


      <div class="form-group col-md-6" [hidden]="isNewOrder">
        <label>Order Status :<span class="star">*</span></label>
        <select class="form-control" name="fK_OrderStatus_Id" [(ngModel)]="newOrder.fK_OrderStatus_Id" required>
          <option [value]="undefined" *ngIf="!newOrder.fK_OrderStatus_Id">-- Choose Type --</option>
          <option [value]="status.id" *ngFor="let status of statuses">{{status.name}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_OrderStatus_Id.invalid && !isNewOrder">
          <i class="fa fa-exclamation-triangle"></i>This field is required
        </em>
      </div>
      <div class="form-group col-md-6">
        <label>Order priority :<span class="star">*</span></label>
        <select class="form-control" name="fK_OrderPriority_Id" [(ngModel)]="newOrder.fK_OrderPriority_Id" required>
          <option [value]="undefined" *ngIf="!newOrder.fK_OrderPriority_Id">-- Choose Priority --</option>
          <option [value]="priority?.id" *ngFor="let priority of orderPriority">{{priority.name}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_OrderPriority_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i>This field is required
        </em>
      </div>


      <div class="form-group col-md-6">
        <label>Order Problem :<span class="star">*</span></label>
        <select class="form-control" name="fK_OrderProblem_Id" [(ngModel)]="newOrder.fK_OrderProblem_Id" required>
          <option [value]="undefined" *ngIf="!newOrder.fK_OrderProblem_Id">-- Choose Problem --</option>
          <option [value]="problem?.id" *ngFor="let problem of problems">{{problem.name}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_OrderProblem_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i>This field is required
        </em>
      </div>
    </div>



    <div class="row date-section" *ngIf="!isCashCall">
      <div class="form-group  col-md-6">
        <label>Start from Date: <span class="star">*</span></label>
        <p-calendar (onSelect)="onStartDateChange()" [minDate]="todayDate" name="startDate" [(ngModel)]="newOrder.startDate" [showIcon]="true"
                    readonlyInput="true" [required]="true" dateFormat="yy-mm-dd"></p-calendar>

        <em style="display: block" *ngIf="order.submitted && order.controls?.startDate.invalid">
          <i class="fa fa-exclamation-triangle"></i>This field is required
        </em>
      </div>

      <div class="form-group  col-md-6" *ngIf="!isCashCall">
        <label>End at Date :<span class="star">*</span></label>
        <p-calendar name="endDate"  [disabled]="!newOrder.startDate" [minDate]="newOrder.startDate" [(ngModel)]="newOrder.endDate" [showIcon]="true"
                    readonlyInput="true" [required]="true" dateFormat="yy-mm-dd"></p-calendar>
        <em style="display: block" *ngIf="(order.submitted && order.controls?.endDate.invalid) ">
          <i class="fa fa-exclamation-triangle" *ngIf="order.controls?.endDate.errors.required"> This field is required</i>
          <i class="fa fa-exclamation-triangle">Start Date greater than End Date</i>
        </em>
      </div>

    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Note</label>
          <textarea name="note" placeholder="please write any notes if required..." rows="4" [(ngModel)]="newOrder.note"
                    class="form-control"></textarea>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div *ngIf="disabled" class="col-md-9">
    </div>
    <div *ngIf="existedOrder" class="col-md-3">
      <button (click)="closeModal()" class="btn btn-default" style="width:100%">Close</button>
    </div>
    <div *ngIf="!existedOrder" class="col-md-3">
    </div>

    <div *ngIf="!disabled" class="col-md-offset-6 col-md-3">
      <button  type="submit" style="width:100%" class="btn btn-dark">Save Order</button>
    </div>
  </div>
</form>
